.body {
   border: 2px solid rgb(196, 193, 193);
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 20px;
   margin-top: 0;
}

.logo img {
    max-height: 70px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 15px;

}

img {
    max-height: 50px;
    
}

.textoEncuesta {
    border-top: 2px solid rgb(196, 193, 193);
    font-size: 15px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 30px;
    font-family: sans-serif;
}

.col-xs-12 {
    display: block;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
    height: 20px;
    width: 20px;
}

.from {
    display: flex;
    margin-bottom: 30px;
}

.col-xs-11 {
    width: 100%;
    font-size: 13px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.button {
    display: flex;
    background: rgb(237, 236, 235);
    justify-content: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.empezar {
    color: blue;
}

.enviar {
    padding-left: 100px;
}







